body {
    background-color: #fafafa;
    font-family: "Montserrat", sans-serif;
    color: #111111;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

button {
    cursor: pointer;
}

/* =========================== pseudoclasses */

a:hover,
a:focus {
    color: #fd9222;
}

/* ============================ header */
.header-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
    color: currentColor;
}
.header-logo:hover,
.header-logo:focus {
    color: currentColor;
}
.logo-italic {
    font-style: italic;
}
.header-list {
    font-weight: 500;
    line-height: 1.14;
}

.header-list-item-link {
    letter-spacing: -0.02em;
    color: currentColor;
}
/* ==================================== hero */
.hero {
    background: #1e1823;
    color: #ffffff;
}
.hero-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.03em;
    color: #ffffff;
}
.hero-button {
    color: currentColor;
    background-color: #fd9222;
    font-weight: 600;
}

.hero-button:hover {
    background-color: #fcf1e0;
    color: #fd9222;
}

.hero-link {
    color: currentColor;
    font-weight: 600;
}
.hero-link:hover,
.hero-link:focus {
    background-color: #fafafa;
}
.hero-scroll-link {
    color: currentColor;
    font-weight: 500;
    letter-spacing: -0.03em;
}

/* ====================================== benefits */
.benefits {
    background: #1e1823;
    color: rgba(255, 255, 255, 0.7);
}

.benefits-list-item-title {
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
}
.benefits-list-item-text {
    letter-spacing: -0.02em;
}

/* =================================== ingridients */
.ingridients-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}
.ingridients-orange {
    color: #fd9222;
}
.ingridients-dark {
    color: #111111;
}
.ingridients-background-orange {
    background-color: #fd9222;
}
.ingridients-background-dark {
    background-color: #1e1823;
}
.ingredients-text {
    letter-spacing: -0.02em;
}
.ingredients-list {
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
}
.ingridients-list-item-title {
    letter-spacing: -0.02em;
}

/* ======================================== made */
.hmade-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}
.hmade-second-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
}
.hmade-list {
    list-style-type: disc;
}
.hmade-list-item-text {
    letter-spacing: -0.02em;
}
/*  ==================================== loved */

.loved-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}
.loved-list-item-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
}
.loved-list-item-text {
    color: rgba(17, 17, 17, 0.7);
    letter-spacing: -0.02em;
}
.loved-button {
    font-weight: 600;
    font-size: 18px;
    background-color: transparent;
}

.loved-button:hover,
.loved-button:focus {
    color: #ffffff;
    background-color: #fd9222;
}
/* ================================== footer */
.pagefooter {
    background: #1e1823;
    color: #fff;
}
.pagefooter-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.02em;
}

.pagefooter-addres {
    font-style: normal;
}
.pagefooter-adress-text {
    font-weight: 500;
}
.pagefooter-adress-list-item-link {
    letter-spacing: -0.02em;
    color: currentColor;
}
.pagefooter-nav {
    font-weight: 500;
    line-height: 1.14;
}
.pagefooter-nav-list-item-link {
    letter-spacing: -0.02em;
    color: currentColor;
}
